*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    height: 15vh;
    color: #fff;
    background-color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}